In [3]:
x=10 #Value assignment 
print(x)

10

In [4]:
type(x)

int

In [11]:
x=10
y=20.5
z="Hello!!!"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
type(x)

int

In [9]:
type(y)

float

In [10]:
type(z)

str

In [12]:
x=10
y=20

print(x+y)
print(x-y)
print(x*y)
print(x/y)

30
-10
200
0.5

In [14]:
x="India"
y="Kerela"

print(x+y)

IndiaKerela

In [20]:
x="Marie"
y="gold"
print(x+y)

Mariegold

In [19]:
x="20"
y="22"
print(x+y)

2022

In [21]:
x=input("Enter a value: ")

Enter a value:  107

In [22]:
x=input("Enter first number: ") # NOTE Please use 'int' if the input entered is a value and you want to use that value for calculation. If else like string, then only use 'input'.
y=input("Enter second number: ")

x+y

print(x+y)

Enter first number:  200
Enter second number:  300

200300

In [23]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))

x+y

print(x+y)

Enter first number:  200
Enter second number:  300

500

In [26]:
x=int(input("Enter I value: ")) # Simple CALCULATOR
y=int(input("Enter II value: "))

x+y
x-y
x*y
x/y

print("Sum: ",x+y)
print("Difference: ",x-y)
print("Product: ",x*y)
print("Quotient: ",x/y)

Enter I value:  400
Enter II value:  300

Sum:  700
Difference:  100
Product:  120000
Quotient:  1.3333333333333333

In [27]:
marks=int(input("Enter your marks: ")) # If 'if', 'while', 'for' is used, always remember to use ':' that is, colon and always leave space for the the next line which is to be executed.
if marks>=50 :
    print("You have passed!")
if marks<50 :
    print("You have failed")

Enter your marks:  99

You have passed!

In [34]:
income=int(input("Enter your Income: "))
if income>250000 :
    print("You have to pay tax")
if income<=250000 :
    print("No tax :)")

Enter your Income:  233000000

You have to pay tax

In [33]:
income=int(input("Enter your Income: "))
if income>250000 :
    print("You have to pay tax")
if income<=250000 :
    print("No tax :)")

Enter your Income:  15000

No tax :)

In [38]:
x= int(input("Enter your salary: "))
if x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if x<=250000 :
    print("No tax! :)")

Enter your salary:  459000

Your tax:  20900.0

In [40]:
x= int(input("Enter your salary: "))
if x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if x<=250000 :
    print("No tax! :)")

Enter your salary:  15000

No tax! :)

In [39]:
x= int(input("Enter your salary: "))
if x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if x<=250000 :
    print("No tax! :)")

Enter your salary:  500000

Your tax:  25000.0

In [41]:
x=int(input("Enter your salary: "))
if x<=250000 :
    print("No tax :)")
if 500000>x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if 750000>x>500000 :
    print("Your tax: ", (x-250000)*0.2)

Enter your salary:  15000

No tax :)

In [42]:
x=int(input("Enter your salary: "))
if x<=250000 :
    print("No tax :)")
if 500000>x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if 750000>x>500000 :
    print("Your tax: ", (x-250000)*0.2)

Enter your salary:  260000

Your tax:  1000.0

In [44]:
x=int(input("Enter your salary: "))
if x<=250000 :
    print("No tax :)")
if 500000>x>250000 :
    print("Your tax: ", (x-250000)*0.1)
if 750000>x>500000 :
    print("Your tax: ", (x-250000)*0.2)

Enter your salary:  700000

Your tax:  90000.0

In [46]:
x=0                    # while loop
while x<100 :
    print(x)
    x=x+1            # If this comes after 'print()', then 0 (here) will be included.

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [47]:
x=0                    # while loop
while x<100 :
    x=x+1            # If this comes before 'print()', then 0 (here) wont be included.
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [1]:
x=0
paper=0
while x<100:
    paper=paper+x
    x=x+1
    print(paper)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950