In [ ]:
#QUESTIONS : https://github.com/sarincr/Business-analytics-Course-with-Python/blob/main/Data%20Analytics/HR%20Analytics.pdf

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("HRDataset.csv")
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
1,"Ait Sidi, Karthikeyan",10084.0,1.0,1.0,Male,5.0,3.0,3.0,0.0,104437.0,...,4,80,1,10,3,3,10,7,1,7
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,Male,5.0,5.0,3.0,0.0,64955.0,...,3,80,0,7,3,3,0,0,0,0
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
4,"Anderson, Carol",10069.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,50825.0,...,3,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Ybarra, Catherine",10301.0,0.0,0.0,Female,5.0,5.0,1.0,0.0,48513.0,...,3,80,1,19,2,3,10,8,0,1
308,"Zamora, Jennifer",10010.0,0.0,0.0,Male,1.0,3.0,4.0,0.0,220450.0,...,3,80,1,12,2,3,5,3,1,2
309,"Zhou, Julia",10043.0,0.0,0.0,Male,1.0,3.0,3.0,0.0,89292.0,...,3,80,1,6,4,3,5,2,0,3
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0
311,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,...,3,80,1,24,2,3,24,9,9,11

In [7]:
df.loc[df["StockOptionLevel"]==1].count() #Q12

Employee_Name                 126
EmpID                         126
MarriedID                     126
MaritalStatusID               126
Gender                        127
EmpStatusID                   126
DeptID                        126
PerfScoreID                   126
FromDiversityJobFairID        126
Salary                        126
Termd                         126
PositionID                    126
Position                      126
State                         126
Zip                           126
DOB                           126
Sex                           126
MaritalDesc                   126
CitizenDesc                   126
DateofHire                    126
DateofTermination              45
TermReason                    126
EmploymentStatus              126
Department                    126
ManagerName                   126
ManagerID                     126
RecruitmentSource             126
PerformanceScore              126
EngagementSurvey              126
EmpSatisfaction               126
SpecialProjectsCount          126
LastPerformanceReview_Date    126
DaysLateLast30                126
Absences                      126
DistanceFromHome              126
Age                           127
Attrition                     127
BusinessTravel                127
Education                     127
EducationField                127
JobSatisfaction               127
MonthlyIncome                 127
MonthlyRate                   127
NumCompaniesWorked            127
OverTime                      127
PercentSalaryHike             127
PerformanceRating             127
StandardHours                 127
StockOptionLevel              127
TotalWorkingYears             127
TrainingTimesLastYear         127
WorkLifeBalance               127
YearsAtCompany                127
YearsInCurrentRole            127
YearsSinceLastPromotion       127
YearsWithCurrManager          127
dtype: int64

In [8]:
df.loc[df["PerformanceRating"]>3].count() #Q13

Employee_Name                 57
EmpID                         57
MarriedID                     57
MaritalStatusID               57
Gender                        57
EmpStatusID                   57
DeptID                        57
PerfScoreID                   57
FromDiversityJobFairID        57
Salary                        57
Termd                         57
PositionID                    57
Position                      57
State                         57
Zip                           57
DOB                           57
Sex                           57
MaritalDesc                   57
CitizenDesc                   57
DateofHire                    57
DateofTermination             16
TermReason                    57
EmploymentStatus              57
Department                    57
ManagerName                   57
ManagerID                     53
RecruitmentSource             57
PerformanceScore              57
EngagementSurvey              57
EmpSatisfaction               57
SpecialProjectsCount          57
LastPerformanceReview_Date    57
DaysLateLast30                57
Absences                      57
DistanceFromHome              57
Age                           57
Attrition                     57
BusinessTravel                57
Education                     57
EducationField                57
JobSatisfaction               57
MonthlyIncome                 57
MonthlyRate                   57
NumCompaniesWorked            57
OverTime                      57
PercentSalaryHike             57
PerformanceRating             57
StandardHours                 57
StockOptionLevel              57
TotalWorkingYears             57
TrainingTimesLastYear         57
WorkLifeBalance               57
YearsAtCompany                57
YearsInCurrentRole            57
YearsSinceLastPromotion       57
YearsWithCurrManager          57
dtype: int64

In [5]:
df.loc[df["EmpStatusID"]==5].count() #Q14

Employee_Name                 88
EmpID                         88
MarriedID                     88
MaritalStatusID               88
Gender                        88
EmpStatusID                   88
DeptID                        88
PerfScoreID                   88
FromDiversityJobFairID        88
Salary                        88
Termd                         88
PositionID                    88
Position                      88
State                         88
Zip                           88
DOB                           88
Sex                           88
MaritalDesc                   88
CitizenDesc                   88
DateofHire                    88
DateofTermination             88
TermReason                    88
EmploymentStatus              88
Department                    88
ManagerName                   88
ManagerID                     88
RecruitmentSource             88
PerformanceScore              88
EngagementSurvey              88
EmpSatisfaction               88
SpecialProjectsCount          88
LastPerformanceReview_Date    88
DaysLateLast30                88
Absences                      88
DistanceFromHome              88
Age                           88
Attrition                     88
BusinessTravel                88
Education                     88
EducationField                88
JobSatisfaction               88
MonthlyIncome                 88
MonthlyRate                   88
NumCompaniesWorked            88
OverTime                      88
PercentSalaryHike             88
PerformanceRating             88
StandardHours                 88
StockOptionLevel              88
TotalWorkingYears             88
TrainingTimesLastYear         88
WorkLifeBalance               88
YearsAtCompany                88
YearsInCurrentRole            88
YearsSinceLastPromotion       88
YearsWithCurrManager          88
dtype: int64

In [10]:
df.loc[df["Department"]=="IT/IS"].count() #Q15,Q16 and Q17

Employee_Name                 50
EmpID                         50
MarriedID                     50
MaritalStatusID               50
Gender                        50
EmpStatusID                   50
DeptID                        50
PerfScoreID                   50
FromDiversityJobFairID        50
Salary                        50
Termd                         50
PositionID                    50
Position                      50
State                         50
Zip                           50
DOB                           50
Sex                           50
MaritalDesc                   50
CitizenDesc                   50
DateofHire                    50
DateofTermination             10
TermReason                    50
EmploymentStatus              50
Department                    50
ManagerName                   50
ManagerID                     50
RecruitmentSource             50
PerformanceScore              50
EngagementSurvey              50
EmpSatisfaction               50
SpecialProjectsCount          50
LastPerformanceReview_Date    50
DaysLateLast30                50
Absences                      50
DistanceFromHome              50
Age                           50
Attrition                     50
BusinessTravel                50
Education                     50
EducationField                50
JobSatisfaction               50
MonthlyIncome                 50
MonthlyRate                   50
NumCompaniesWorked            50
OverTime                      50
PercentSalaryHike             50
PerformanceRating             50
StandardHours                 50
StockOptionLevel              50
TotalWorkingYears             50
TrainingTimesLastYear         50
WorkLifeBalance               50
YearsAtCompany                50
YearsInCurrentRole            50
YearsSinceLastPromotion       50
YearsWithCurrManager          50
dtype: int64

In [14]:
df.loc[df["Department"]=="Admin Offices"].count() #Q16 and Q17

Employee_Name                 9
EmpID                         9
MarriedID                     9
MaritalStatusID               9
Gender                        9
EmpStatusID                   9
DeptID                        9
PerfScoreID                   9
FromDiversityJobFairID        9
Salary                        9
Termd                         9
PositionID                    9
Position                      9
State                         9
Zip                           9
DOB                           9
Sex                           9
MaritalDesc                   9
CitizenDesc                   9
DateofHire                    9
DateofTermination             2
TermReason                    9
EmploymentStatus              9
Department                    9
ManagerName                   9
ManagerID                     9
RecruitmentSource             9
PerformanceScore              9
EngagementSurvey              9
EmpSatisfaction               9
SpecialProjectsCount          9
LastPerformanceReview_Date    9
DaysLateLast30                9
Absences                      9
DistanceFromHome              9
Age                           9
Attrition                     9
BusinessTravel                9
Education                     9
EducationField                9
JobSatisfaction               9
MonthlyIncome                 9
MonthlyRate                   9
NumCompaniesWorked            9
OverTime                      9
PercentSalaryHike             9
PerformanceRating             9
StandardHours                 9
StockOptionLevel              9
TotalWorkingYears             9
TrainingTimesLastYear         9
WorkLifeBalance               9
YearsAtCompany                9
YearsInCurrentRole            9
YearsSinceLastPromotion       9
YearsWithCurrManager          9
dtype: int64

In [20]:
df.loc[df["Department"]=="Production"].count() #Q16 and Q17

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
Gender                        0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
DistanceFromHome              0
Age                           0
Attrition                     0
BusinessTravel                0
Education                     0
EducationField                0
JobSatisfaction               0
MonthlyIncome                 0
MonthlyRate                   0
NumCompaniesWorked            0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

In [16]:
df.loc[df["Department"]=="Sales"].count() #Q16 and Q17

Employee_Name                 31
EmpID                         31
MarriedID                     31
MaritalStatusID               31
Gender                        31
EmpStatusID                   31
DeptID                        31
PerfScoreID                   31
FromDiversityJobFairID        31
Salary                        31
Termd                         31
PositionID                    31
Position                      31
State                         31
Zip                           31
DOB                           31
Sex                           31
MaritalDesc                   31
CitizenDesc                   31
DateofHire                    31
DateofTermination              5
TermReason                    31
EmploymentStatus              31
Department                    31
ManagerName                   31
ManagerID                     31
RecruitmentSource             31
PerformanceScore              31
EngagementSurvey              31
EmpSatisfaction               31
SpecialProjectsCount          31
LastPerformanceReview_Date    31
DaysLateLast30                31
Absences                      31
DistanceFromHome              31
Age                           31
Attrition                     31
BusinessTravel                31
Education                     31
EducationField                31
JobSatisfaction               31
MonthlyIncome                 31
MonthlyRate                   31
NumCompaniesWorked            31
OverTime                      31
PercentSalaryHike             31
PerformanceRating             31
StandardHours                 31
StockOptionLevel              31
TotalWorkingYears             31
TrainingTimesLastYear         31
WorkLifeBalance               31
YearsAtCompany                31
YearsInCurrentRole            31
YearsSinceLastPromotion       31
YearsWithCurrManager          31
dtype: int64

In [17]:
df.loc[df["Department"]=="Software Engineering"].count() #Q16 and Q17

Employee_Name                 11
EmpID                         11
MarriedID                     11
MaritalStatusID               11
Gender                        11
EmpStatusID                   11
DeptID                        11
PerfScoreID                   11
FromDiversityJobFairID        11
Salary                        11
Termd                         11
PositionID                    11
Position                      11
State                         11
Zip                           11
DOB                           11
Sex                           11
MaritalDesc                   11
CitizenDesc                   11
DateofHire                    11
DateofTermination              4
TermReason                    11
EmploymentStatus              11
Department                    11
ManagerName                   11
ManagerID                     11
RecruitmentSource             11
PerformanceScore              11
EngagementSurvey              11
EmpSatisfaction               11
SpecialProjectsCount          11
LastPerformanceReview_Date    11
DaysLateLast30                11
Absences                      11
DistanceFromHome              11
Age                           11
Attrition                     11
BusinessTravel                11
Education                     11
EducationField                11
JobSatisfaction               11
MonthlyIncome                 11
MonthlyRate                   11
NumCompaniesWorked            11
OverTime                      11
PercentSalaryHike             11
PerformanceRating             11
StandardHours                 11
StockOptionLevel              11
TotalWorkingYears             11
TrainingTimesLastYear         11
WorkLifeBalance               11
YearsAtCompany                11
YearsInCurrentRole            11
YearsSinceLastPromotion       11
YearsWithCurrManager          11
dtype: int64

In [18]:
df.loc[df["Department"]=="Executive Office"].count() #Q16 and Q17

Employee_Name                 1
EmpID                         1
MarriedID                     1
MaritalStatusID               1
Gender                        1
EmpStatusID                   1
DeptID                        1
PerfScoreID                   1
FromDiversityJobFairID        1
Salary                        1
Termd                         1
PositionID                    1
Position                      1
State                         1
Zip                           1
DOB                           1
Sex                           1
MaritalDesc                   1
CitizenDesc                   1
DateofHire                    1
DateofTermination             0
TermReason                    1
EmploymentStatus              1
Department                    1
ManagerName                   1
ManagerID                     1
RecruitmentSource             1
PerformanceScore              1
EngagementSurvey              1
EmpSatisfaction               1
SpecialProjectsCount          1
LastPerformanceReview_Date    1
DaysLateLast30                1
Absences                      1
DistanceFromHome              1
Age                           1
Attrition                     1
BusinessTravel                1
Education                     1
EducationField                1
JobSatisfaction               1
MonthlyIncome                 1
MonthlyRate                   1
NumCompaniesWorked            1
OverTime                      1
PercentSalaryHike             1
PerformanceRating             1
StandardHours                 1
StockOptionLevel              1
TotalWorkingYears             1
TrainingTimesLastYear         1
WorkLifeBalance               1
YearsAtCompany                1
YearsInCurrentRole            1
YearsSinceLastPromotion       1
YearsWithCurrManager          1
dtype: int64

In [ ]:
#16 = IT/IS
#Q17 = Executive Office
#Some error occured in "Production"

In [ ]:
#Q18 Not done

In [21]:
df.loc[df["FromDiversityJobFairID"]==1] #Q19

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
8,"Bachiochi, Linda",10114.0,0.0,0.0,Male,3.0,5.0,3.0,1.0,47837.0,...,4,80,0,10,2,3,9,7,1,8
10,"Baczenski, Rachael",10252.0,1.0,1.0,Male,5.0,5.0,3.0,1.0,54670.0,...,3,80,1,6,5,3,5,4,0,3
11,"Barbara, Thomas",10242.0,1.0,1.0,Female,5.0,5.0,3.0,1.0,47211.0,...,3,80,0,10,3,3,9,5,0,8
12,"Barbossa, Hector",10012.0,0.0,2.0,Male,1.0,3.0,4.0,1.0,92328.0,...,3,80,1,5,1,2,5,2,4,3
26,"Boutwell, Bonalyn",10081.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,106367.0,...,4,80,0,10,5,3,10,2,6,7
29,"Brown, Mia",10238.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,63000.0,...,3,80,0,22,2,2,2,2,2,1
31,"Bugali, Josephine",10203.0,0.0,3.0,Male,3.0,5.0,3.0,1.0,64375.0,...,3,80,0,9,5,4,4,2,1,3
103,"Gerke, Melisa",10122.0,0.0,2.0,Female,5.0,5.0,3.0,1.0,51505.0,...,3,80,0,16,3,3,16,13,2,10
105,"Gilles, Alex",10283.0,1.0,1.0,Female,5.0,5.0,2.0,1.0,54933.0,...,4,80,1,30,3,3,3,2,2,2
111,"Gonzalez, Cayo",10031.0,0.0,2.0,Male,1.0,5.0,4.0,1.0,59892.0,...,4,80,0,9,3,3,9,7,0,6
112,"Gonzalez, Juan",10300.0,1.0,1.0,Female,5.0,5.0,1.0,1.0,68898.0,...,3,80,0,23,3,3,5,3,4,4
155,"Kreuger, Freddy",10165.0,0.0,0.0,Male,1.0,6.0,3.0,1.0,71339.0,...,3,80,1,10,1,3,10,7,0,9
170,"Lindsay, Leonara",10008.0,0.0,0.0,Male,1.0,3.0,4.0,1.0,51777.0,...,3,80,1,6,3,2,5,2,1,1
174,"Lynch, Lindsay",10004.0,0.0,0.0,Female,5.0,5.0,4.0,1.0,47434.0,...,3,80,1,9,3,4,5,4,0,3
185,"Meads, Elizabeth",10128.0,0.0,0.0,Female,5.0,5.0,3.0,1.0,62659.0,...,3,80,1,8,5,3,8,7,1,6
190,"Monroe, Peter",10288.0,1.0,1.0,Male,1.0,3.0,2.0,1.0,157000.0,...,3,80,1,34,5,3,33,18,11,9
192,"Moran, Patrick",10223.0,0.0,0.0,Male,3.0,5.0,3.0,1.0,72106.0,...,3,80,0,8,1,3,1,0,0,1
198,"Ndzi, Colombui",10215.0,0.0,0.0,Male,5.0,5.0,3.0,1.0,50470.0,...,3,80,0,14,3,3,1,0,0,0
201,"Ngodup, Shari",10037.0,0.0,3.0,Male,1.0,5.0,4.0,1.0,52984.0,...,3,80,2,7,0,3,7,7,1,7
212,"Patronick, Lucas",10005.0,0.0,0.0,Female,5.0,4.0,4.0,1.0,108987.0,...,3,80,0,7,2,3,7,7,0,7
227,"Quinn, Sean",10131.0,1.0,1.0,Female,5.0,1.0,3.0,1.0,83363.0,...,3,80,1,11,5,3,11,10,4,1
244,"Ruiz, Ricardo",10222.0,0.0,2.0,Male,5.0,3.0,3.0,1.0,148999.0,...,3,80,1,25,2,3,24,0,1,7
246,"Saar-Beckles, Melinda",10295.0,0.0,0.0,Female,2.0,5.0,2.0,1.0,47750.0,...,3,80,1,2,2,2,2,2,0,2
258,"Smith, John",10291.0,0.0,2.0,Male,1.0,6.0,2.0,1.0,72992.0,...,3,80,0,1,0,2,1,0,0,0
259,"Smith, Leigh Ann",10153.0,1.0,1.0,Male,5.0,1.0,3.0,1.0,55000.0,...,3,80,0,6,2,4,5,4,1,4
276,"Tavares, Desiree",10221.0,1.0,1.0,Female,5.0,5.0,3.0,1.0,60754.0,...,3,80,1,10,6,2,7,7,6,2
285,"True, Edward",10102.0,0.0,0.0,Female,5.0,4.0,3.0,1.0,100416.0,...,3,80,0,17,3,3,17,12,5,7
296,"Wallace, Courtney E",10274.0,1.0,1.0,Male,5.0,5.0,3.0,1.0,80512.0,...,3,80,0,0,2,3,0,0,0,0
303,"Williams, Jacquelyn",10264.0,0.0,0.0,Male,5.0,5.0,3.0,1.0,59728.0,...,3,80,1,10,3,2,8,7,7,7

In [25]:
for k in df.index: #Q19
    if (df.loc[k,"Salary"]==df["Salary"].max()):
        print(df.loc[k,"Employee_Name"])

King, Janet

In [ ]:
#Q19 => Highest paid employee was not chose for the Job fair
#Q20 Not done

In [ ]:
df.loc[df["Position"]=="Executive Office"].count() #Q21 WRONG

In [26]:
df["Position"].unique() #Q21

array(['Production Technician I', 'Sr. DBA', 'Production Technician II',
       'Software Engineer', 'IT Support', 'Data Analyst',
       'Database Administrator', 'Enterprise Architect', 'Sr. Accountant',
       'Production Manager', 'Accountant I', 'Area Sales Manager',
       'Software Engineering Manager', 'BI Director',
       'Director of Operations', 'Sr. Network Engineer', 'Sales Manager',
       'BI Developer', 'IT Manager - Support', 'Network Engineer',
       'IT Director', 'Director of Sales', 'Administrative Assistant',
       'President & CEO', 'Senior BI Developer',
       'Shared Services Manager', 'IT Manager - Infra',
       'Principal Data Architect', 'Data Architect', 'IT Manager - DB',
       'Data Analyst ', 'CIO', nan], dtype=object)

In [30]:
prodtech=0
for x in df["Position"].unique():
    if (df["Position"]=x):
        
        
#To be completed

KeyError: 'Production Technician I'