In [1]:
x=0  # One example of Break statement.
while x<10 :
    print(x)
    if x==5 :
        break;
    x=x+1

0
1
2
3
4
5

In [66]:
x=[5,6,89,"India",25] # List is used to store multiple values or items into one variable like x, y, l, k,.. etc.   Square bracket is used for list.

In [67]:
print(x)

[5, 6, 89, 'India', 25]

In [68]:
x[0]  # List assigns individual positions to each element always starting from 0

5

In [69]:
x[3]

'India'

In [70]:
x[0:2] # Here, the range to print is from position 0 to position 2 but it does not include the element of second position.

[5, 6]

In [71]:
x[3:4]

['India']

In [72]:
x[0:4]

[5, 6, 89, 'India']

In [73]:
x[0:5] # But if you want to print the last element, this method can be used else, use x[-1].

[5, 6, 89, 'India', 25]

In [74]:
x[-1]

25

In [75]:
x[-3]  #List assigns positions like the following - from front/beginning/left it goes like 0,1,2,3,...   and from last/right it goes like  -1,-2,-3,..

89

In [76]:
x[3]="Kerela" # To change any element of the given list to another element.

In [77]:
x

[5, 6, 89, 'Kerela', 25]

In [78]:
x.append(9) #This x.append(..) is used inorder to add a new element to the given/existing list.
x

[5, 6, 89, 'Kerela', 25, 9]

In [79]:
x.append("Cochin")
x

[5, 6, 89, 'Kerela', 25, 9, 'Cochin']

In [80]:
x.pop()  # This command enables to delete the last element from the list (* Only last)

'Cochin'

In [89]:
x=[5, 6, 89, 'Kerela', 25]

In [90]:
del x[0]  # This command will delete the element of the mentioned index.

In [91]:
x

[6, 89, 'Kerela', 25]

In [83]:
x=(5,6,89,"Kerela",25)  # On using small/normal bracket, the list changes to Truple. Here, the elements in Truple cannot be changed as the elements given are constant.

In [84]:
x(0)

TypeError: 'tuple' object is not callable

In [24]:
x={5,6,3,4,1,5} # On using curl brackets, the Truple becomes a SET. Here, the value elements will be arranged in order and all the duplicate values will be eliminated on printing the results.

In [25]:
x

{1, 3, 4, 5, 6}

In [28]:
x=["India","France","Italy","USA","Australia"]

In [29]:
for a in x : # On using 'for' command in list, you can list down the elements in the following way.
    print(a)

India
France
Italy
USA
Australia

In [30]:
x=[10000,5,9] # Here, 10000 is the Amount, 5 is the no. of years, 9 is the rate of interest. Calculate the interest for 5 years.

In [33]:
i= x[0]*x[1]*x[2]/100
i

4500.0

In [34]:
for x in "India" : # On using 'for' command in list, you can list down the element in the following way.
    print(x)

I
n
d
i
a

In [36]:
for x in "India" : # Here, while printing the letters downward, letter 'd' is not included and it 'Breaks' before that letter.
    if x== "d" :
        break
    print(x)

I
n

In [37]:
x=["Sarah"]

In [38]:
for x in "Sarah" :
    if x== "h" :
        break
    print(x)

S
a
r
a

In [39]:
for x in "India" :  
    if x== "d" :    # Here, after the 'if' command if 'continue' is used, then, the letter 'd' will be avoided and the letters coming after will be printed.
        continue 
    print(x)

I
n
i
a

In [40]:
for x in "Sarah" :
    if x== "r" :
        break
    print(x)

S
a

In [41]:
for x in "Sarah" :
    if x== "r" :
        continue 
    print(x)

S
a
a
h

In [42]:
x={1:"India", 2:"USA", 3:"Italy"}  # Creating a dictionary.

In [43]:
x[1]  # Here, since we manually assigned the index, the first element starts with 1 and not 0. Here, 1,2,3 are called the 'keys' and rest are called 'values'.

'India'

In [44]:
x={"A":"India", "B":"USA", "C":"Italy"}

In [45]:
x["C"]

'Italy'

In [47]:
x={2:"India", 3:"USA", 1:"Italy"}

In [48]:
x[1]

'Italy'